* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4
}

header {
    background-color: #333;
    padding: 20px 0
}

.bibliografia {
    position: fixed;
    font-size: 15px;
    top: 50%;
    transform: translateY(-50%);
    max-width: 35%;
    padding: 20px;
    text-indent: 30px;
    text-align: justify;

    
}

nav {
    background-color: #fff;
    text-align: center;
    padding: 20px
}

nav h1 {
    font-size: 40px;
    margin-bottom: 5px
}

nav p {
    font-size: 18px;
    color: #888
}

.foto-img {
    width: 20%;
    margin-top: 30px
}

article {
    padding: 20px;
    text-align: center
}

.lista-social {
    position: fixed;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    list-style: none;
    display: flex;
    align-items: flex-end;
    margin-right: 20%;
}

.lista-social li {
    margin-bottom: 10px;
    /* Espaçamento entre os itens */
}

.lista-social img {
    cursor: pointer;
    max-width: 50px;
}

.lista {
    list-style: none;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    background-color: #fff
}

.lista li {
    display: inline-block;
    margin: 0 10px
}

.lista img {
    cursor: pointer;
    max-width: 50px
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0
}

footer button {
    padding: 8px 20px;
    font-size: 18px;
    background-color: #a09e92;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer
}

@media screen and (max-width: 500px) {
    header {
        align-items: center
    }

    nav {
        padding: 15px
    }

    nav h1 {
        font-size: 30px
    }

    nav p {
        font-size: 20px
    }



    .foto-img {
        width: 80%;
        margin-top: 10px
    }

    .lista img {
        display: none
    }

    .lista-social {
        list-style: none;
        padding: 10px;
        display: flex;
        justify-content: space-around
    }

    .lista-social li {
        display: inline-block;
        margin: 0 10px
    }

    .lista-social img {
        margin-top: 220px;
        cursor: pointer;
        max-width: 30px
    }

    .lista img {
        display: none
    }

    article {
        padding: 15px
    }

    footer {
        padding: 10px 0
    }

    footer button {
        padding: 6px 16px;
        font-size: 14px
    }

    .bibliografia {
        margin-top: 280px; 
        font-size: 10px; 
        line-height: 1.6; 
        text-align: justify;
        padding: 20px;
        border-radius: 8px; 
        max-width: 95%; 
        margin-left: auto;
        margin-right: auto; 
    }
           
            
        }
    
